body {
	font-family: 'Droid Sans';
	min-width: 885px;
	max-width: 2560px;
	max-height: 1760px;
	line-height: 1.5em;
	background: white;
}
header {
	min-height: 100px;
	font-size: 1.5em;
	margin-top: 20px;
}
main {
	min-height: 485px;
	margin-left: 100px;
	line-height: 2em;
}
footer {
	min-height: 200px;
	background: lightgreen;
}
.right {
	float: right;
	width: 400px;
	margin-top: 20px;
}
.left {
	float: left;
	width: 1000px;
	margin-left: 10px;
	margin-top: 20px;
}
.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 4px; 
}
.tabs a span.active {
	background: #eee;
}
.content ul{
	background: #eee;
	padding-left: 10px;
}
.content {
	overflow: auto;
}
a {
	color: red;
	text-decoration: none;
}
a:hover {
	color: blue;
	text-decoration: underline;
}
h1, h2, h3, h4 ,h5 {
	font-family: 'Ubuntu';
}

h1 {	
	font-size: 3em;
	font-style: italic;
}
h2{	
	font-size: 2em;
	font-weight: bold;
}
h3{	
	font-size: 1.5em;
	font-weight: bold;
}