body {
	font-family: "Ubuntu";
	min-width: 320px;
	max-width: 2560px;
	text-indent: 10px;
}
header {
	overflow: auto;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid black;
}
main {
	height: auto;
	line-height: 2em;
	overflow: auto;
}
footer {
	overflow: auto;
	border-top: 3px solid black;
	line-height: 3em;
}
.left {
	float: left;
}
.right {
	width: 320px;
	float: right;
}
.right p:nth-child(odd)  {
	background: lightgrey;
}
.right p:nth-child(even)  {
	background: lavender;
}
h1 {
	font-size: 3em;
	text-indent: 0;
	text-align: center;
}
h2 {
	font-size: 1.5em;
	text-align: center;
}
h3 {
	font-size: 1.2em;
	margin-top: 10px;
	text-align: center;
}